{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}
  .test-box{
    width: 400px;
    height: 200px;
    border: 1px solid black;
    /* padding: 40px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .test-parent a{
    margin-top:60px;
    display:flex;
  }
{%- endstyle -%}
<div class="test-parent" id="my-div">
  
<form action="/process_order.php" method="POST" id="#orderForm">
  <label for="order_number">Order Number:</label>
  <input type="text" id="order_number" name="order_number" required>

  <label for="postal_code">Postal Code:</label>
  <input type="text" id="postal_code" name="postal_code" required>

  <label for="house_number">House Number (without suffix):</label>
  <input type="text" id="house_number" name="house_number" required>

  <button type="submit" id="formSubmit" onclick=submitForm()>Continue</button>
</form>

 
<script>
  function submitForm() {
    console.log("in fn ");
     window.location.href = '/yourOrders';
     console.log("your orders  ");
  }
   let s = document.getElementById('formSubmit');
  console.log(s,"s");
  //   document.getElementById('orderForm').addEventListener('submit', function(event) {
  //     console.log("check")
  //   event.preventDefault(); // Prevent the form from submitting normally

  //   // Redirect to the new page
  //   window.location.href = '/yourOrders';
  // });
</script>
<!--   $(document).ready(function() {
    $('#orderForm').submit(function(event) {
      console.log("submit clicked");
      event.preventDefault();

      var orderNumber = $('#order_number').val();
      var postalCode = $('#postal_code').val();
      var houseNumber = $('#house_number').val();

      $.ajax({
        url: 'https://www.kisshosting.be/api_test/process_order.php',
        method: 'POST',
        data: {
          order_number: orderNumber,
          postal_code: postalCode,
          house_number: houseNumber
        },
        success: function(response) {
          // Handle the response here
          console.log(response);
          // Update the UI with the matching orders
          var matchingOrders = JSON.parse(response);
          // Add your logic to display the matching orders on the UI
        },
        error: function(xhr, status, error) {
          // Handle AJAX error here
          console.log(error);
        }
      });
    });
  });
</script> -->

<!-- //   const ordersUrl = '5c8b10a7ee13ff1755736fd43618c064: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@testapp-5058.myshopify.com/admin/api/2023-04/orders.json';

  
//    console.log("check",ordersUrl);



// //  var ordersUrl = '/admin/api/2021-07/orders.json';
// $.ajax({
//   url: ordersUrl,
//   // headers: {
//   //   'X-Shopify-Access-Token': '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'
//   // },
//   dataType: 'json',
//   success: function(data) {
//     console.log("success",data);
//     var orders = data.orders;
//    console.log("orders");
//     console.log(orders);
//     var ordersHtml = '<table><thead><tr><th>Order ID</th><th>Product Name</th><th>Product Price</th><th>Product Quantity</th><th>Product Vendor</th> <th>Order Number</th><th>Order Status url</th><th>Prouduct Id</th></tr></thead><tbody>';
// for (var i = 0; i < orders.length; i++) {
//   var order = orders[i];
// for (var i = 0; i < orders.length; i++) {
//   var order = orders[i];
//   let productName = order.line_items[i].name;
//   let ProductId = order.line_items[i].id;
//   let productPrice = order.line_items[i].price;
//   let productQuantity = order.line_items[i].quantity;
//   let productVendor = order.line_items[i].vendor;
//   let productOrderNumber = order.line_items[i].order_number;
//   let productOrderStatusUrl = order.order_status_url;

  
//   console.log(productName);
//   var orderId = order.id;

//    var customerName = order.customer ? order.customer.first_name + ' ' + order.customer.last_name : '';
//   ordersHtml += '<tr><td>' + orderId + '</td><td>' + productName + '</td> <td>' + productPrice + '</td>  <td>' + productQuantity + '</td> <td>' + productVendor + '</td> <td>' + productOrderNumber + '</td> <td>' + productOrderStatusUrl + '</td><td>' + ProductId + '</td></tr>';
// }
// ordersHtml += '</tbody></table>';

//    ordersHtml += '</tbody></table>';
//  // Append another table
//     ordersHtml += '<br/>';
//     ordersHtml += '<h4> plan is customer infor will be mailed to vendor </h4>'
//    ordersHtml += '<table>';
   
//     let customerEmail = order.customer.email;
//     let customerId = order.customer.id ;
    
//     ordersHtml += '<thead><tr><th>Customer Name</th><th>Customer Email</th><th>Customer Id</th></tr></thead><tbody>';
//     ordersHtml += '<tr><td>' + customerName + '</td><td>' + customerEmail + '</td> <td>' + customerId + '</td> </tr>';
//     // Add rows for product data
//     ordersHtml += '</tbody></table>';

//     $('#orders-container').html(ordersHtml);
    
//   }
//   }
//   // error: function(jqXHR, textStatus, errorThrown) {
//   //   console.log("error")
//   // }
// });




 -->

<!-- </script> -->
<!-- 
<h3>Order Info</h3>
<div id="orders-container"></div>
<div id="customer-details-container"></div> -->